<!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->

<!-- Submitted to Feature  March 2, 2014  11:20pm -->

<html><body>
<div class="container">
	<div class="row">
  
	<!-- <a routerLink="/login">	<h2>Welcome to ICIN BANK</h2></a> -->
          <router-outlet></router-outlet>
        <!-- <p>
        <a href="http://bootsnipp.com/iframe/x95Q" class="btn btn-lg btn-success" target="_blank"><span class="glyphicon glyphicon-fullscreen"></span> Full screen</a>
        </p>   -->
    </div>
</div>

<!-- <div class="footer">
  <p>Copyright &#169; 2020 ICIN BANK</p>
</div> -->

</body>
</html>
