
    

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet"  href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https:////cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <br><br>
  <div class="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button> -->
          <i class="fa fa-bank" style="font-size:36px"></i>
          <a class="navbar-brand text-uppercase" href="/icin-bank">ICIN BANK </a>
        </div>
        </div>
<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" routerLink="/transfer">Transfer</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/transaction">Transaction</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/saving">Saving Account Details</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/request">Request</a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link" routerLink="/profile">Update Profile</a>
    </li>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <li class="nav-item">
      <a class="nav-link" routerLink="/myprofile">My Profile</a>
    </li>
  </ul>
</nav>



<br><br>
<br><br><br>
<h3>Transfer Details</h3>
    <div class="container mb-3 mt-3">
    <table class="table table-striped" id="mydataTable">
        <thead>
            <tr>
                <th>Date</th>
                <th>Recepient</th>
                <th>Recipient Account Number</th>
                <th>Transfer Amount </th>
                <th>Status </th>
                <th>Savings Account</th>
                <!-- <th>Actions</th> -->
                
            </tr>
        </thead>
        <tbody>
            
        </tbody>
        
    </table>
  <br><br><br><br>
  <hr>
<h3>Transaction Details</h3>
<div class="container mb-3 mt-3">
    <table class="table table-striped" id="mydataTable">
        <thead>
            <tr>
                <th>Date</th>
                <th>Deposit/Withdraw</th>
                <th>Amount</th>
                <th>Savings Account balance</th>
                <!-- <th>Actions</th> -->
                
            </tr>
        </thead>
        <tbody>
             
        </tbody>
        
    </table>


    <div class="footer">
  <p>Copyright &#169; 2020 ICIN BANK</p>
</div> 
    
  